<h1><%= @restaurant.name %></h1>
<br>
<p>Address: <%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number%></p>
<p>Category: <%= @restaurant.category %></p>

 <%= link_to "Back to restaurants", restaurants_path %>
